ul{list-style: none;}
a{text-decoration:none;color:#fff;}
.container{
	width:100%;
	margin:0 auto;
	overflow: hidden;
	background:url(../img/background.jpg) no-repeat left top;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
/*自定义分割线*/
.hr{
	width:45%;
	height: 2px;
	margin:0 auto;
	background: #000;
	box-shadow: 1px 1px 1px rgba(1,1,1,.4);
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}
h1{ letter-spacing: 3px; }
h2{ font-size: 26px; }
h3{ font-size: 20px; }
p{
	font-size: 16px;
	letter-spacing: 1px;
}

button{
	border:none;
	background: #18a;
	color:#eee;
	padding:10px;
	font-size: 14px;
}
button:hover{
	cursor: pointer;
}
nav{
	height:60px;
	background:rgba(0,0,0,0.7);
}
nav .logo-r{
	position:relative;
	float: right;
	height: 60px;
	width: 400px;
}
nav .linestyle{
	width:100%;
	height: 2px;
	position: absolute;
	left:0;
	bottom:0;
}
nav .lineHover{
    width:86px;
    height: 2px;
    position: absolute;
    left: 0;
    top:0;
    background:#fff;
}
nav ul{
	margin:0;
	padding-right: 5px;
} 
nav ul li,nav .logo{
	display:inline-block;
	line-height: 60px;
	float:left;
	
}
nav ul li,nav .logo a{letter-spacing: 3px;}
nav ul li a{padding:18px 24px;}
/*nav ul li a:hover{ border-bottom:2px solid #fff; }*/
nav ul #sidebar_trigger{display:none;}
nav .active{border-bottom:2px solid #fff;}


nav .logo{
	font-size: 20px;
	font-weight:bold;
	letter-spacing: 1px;
	margin-left: 20px;
}
nav .logo a{color:#fff;}
#banner{
	color:#fff;
	height:600px;
	background:rgba(0,0,0,0.4);
}
#banner .inner{
	margin:0 auto;
	padding-top: 170px;
	text-align: center;
	max-width: 300px;
}
#banner .inner div{margin-top:-5px;}
#banner button{
	padding: 10px 25px;
	margin:15px 0;
	letter-spacing: 3px;
	border-radius: 5px;
}

.more{cursor:pointer;}

/*container布局开始*/
.section-one{
	min-height: 200px;
	background: -webkit-linear-gradient(top,#18a 10%,#fff 100%);
	text-align: center;
	
}
.wrapper{
	max-width: 80%;
	margin:0 auto;
	padding:80px 0;
}

.wrapper-subheading{
	font-size: 14px;
	line-height: 30px;
	margin:10px 0 60px;
	text-align: center;
}
.section-one .wrapper .hr{background:rgb(35,78,158);}
.section-one .wrapper-group .con{
	display: inline-block;
	width:70px;
	height:70px;
	line-height: 70px;
	text-align: center;
	background:rgb(35,78,158);
	margin:25px;
	border:1px solid rgb(15,58,138);
	box-shadow: 2px 2px 3px rgba(5,48,128,.8); 
	-webkit-transform: rotate(45deg);
	color:#fff;
}
.section-one .wrapper-group .con:nth-child(even){
	-webkit-transform:rotate(-45deg);
}
.section-one .wrapper-group .con{padding:5px;font-size:14px;}
.section-one .wrapper-group .con:hover{
	cursor: pointer;
	-webkit-transition:all 0.3s ease-out;
	-webkit-transform:scale(1.2);
}
/*区块2*/
.section-two{background:transparent;color:#fff;}
.section-two .article:nth-child(1),.article:nth-child(2),.article:nth-child(3){ background: rgba(0,0,0,.8); }
/*.section-two .article:nth-child(1){ background: rgba(0,0,0,.75); }
.section-two .article:nth-child(2){ background: rgba(0,0,0,.85); }
.section-two .article:nth-child(3){ background: rgba(0,0,0,.92); }*/
/*.section-two .article .txt{width:100%;height: 100%}*/
.section-two .article:hover{background: rgba(0,0,0,1);}
.section-two .img{width:45%;}
.section-two .img img{width:100%;}
.section-two .txt{width:55%;}
.section-two .article>div{
	float: left;
	font-size: 0;
}
.section-two .article:after{
	content:"";
	display: block;
	clear: both;
}
.section-two .txt{
	padding:70px 40px 20px;
	box-sizing: border-box;	
}

/*.section-two .txt>*{max-width: 85%}*/
.section-two .txt h2{
	font-size: 20px;
	margin-bottom: 20px;
}
.section-two .txt h3{
	font-size: 16px;
}

.section-two .txt p{
	font-family: 仿宋;
	text-indent: 2em;
	font-weight: 800;
	line-height: 22px;
} 

/*区块三*/
.section-three{
	background-color:rgba(23,15,57,0.4);
	color:#fff;
	margin:0 auto;
}
.section-three h2{
	text-align:center;
}
.section-three h3{
	font-family: 华文隶书,华文行楷;

}
.section-three .hr{
	background: #373259;
	width:60%;
}
.section-three .wrapper-subheading{
	margin:20px 0;
}
.section-three .card-group{

}
.section-three .card-group .card{
	float:left;
	width:50%;
	min-height: 300px;
	
	line-height:1.8;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	/*background-color:rgba(23,15,57,.8);*/
	

}
.section-three .card-group .card>div{;padding:50px;}
.section-three .card-group .card:hover>div{

	cursor: pointer;
	background-color:rgba(0,0,0,.2);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-webkit-transform: rotateY(360deg);
}
.card:nth-child(2),.card:nth-child(3),.card:nth-child(6){
	background-color:rgba(23,15,57,0.8);
}
.card:nth-child(1),.card:nth-child(4),.card:nth-child(5){
	background-color:rgba(23,15,57,0.9);
}




/*区块4开始*/
.section-four{
	background-color:rgb(48,152,181);

}
.section-four .wrapper{
	width:64%;
	padding:30px 0;
	color:#fff;
}
.four-r{padding-top: 12px;}
.section-four .four-l,.four-r{
	float:left;
	width:50%;
	
}
.section-four .four-l h3{
	margin-top: 0;
	margin-bottom: 10px;
	font-family: 隶书;
	font-size: 26px;
}
.section-four .four-l p{
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 26px;
	margin-top: 0;
	font-family: 华文行楷,华文隶书;
}
.section-four .four-r button{
	margin-left: 100px;
	display: block;
	background-color: transparent;
	width:150px;
	text-align: center;
	border:1px solid #fff;
	margin-bottom: 20px;
}
.section-four .four-r button:hover{
	cursor: pointer;
	background-color:rgba(0,0,0,.2);

}

/*页脚开始*/
footer{
	color:#fff;
	min-height: 160px;
	text-align: center;
	margin:0 auto;
	padding:70px 0 15px;
	background:rgba(0,0,0,.92);
}
footer .footer-block{
	display: block;
	width:75%;
	margin:0 auto;
	text-align: center;
}
footer .footer-block li{
    display:inline-block;
    padding:20px;
}
footer .footer-block li:hover{
	cursor: pointer;
}
footer .copy{ 
    padding:20px;
    font-size:10px;
}



/*侧栏样式*/
#mask{
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	display: none;

}
#sidebar{
	position: fixed;
	top:0;
	bottom: 0;
	right: -300px;/*和宽度相等,放到屏幕右边,也可用right:0;display:none;*/
	width:300px;
	background: #333;
	transition: right .5s;
}
#sidebar ul{
	padding: 0;
}
#sidebar ul a{
	color:#fff;
	padding: 10px 40px;
	/*padding-left: 30px;*/
	width:100%;
	display: inline-block;
}
#sidebar ul a:hover{
	background: #444;
}
#back-top{
	position: fixed;
	bottom:30px;
	right:30px;
	border:1px solid blue;
}






/*article样式*/
.article #banner{
	height: 300px;
}





/*主页响应式*/
@media screen and (max-width: 630px){
	nav .logo-r{width: 140px;}
	nav .linestyle{display: none;}
	nav ul li:nth-child(1),nav ul li:nth-child(2),nav ul li:nth-child(3),nav ul li:nth-child(4){display: none;}
	nav ul #sidebar_trigger{display:block;}

	.content .section-one .wrapper-group .con:last-child{display:none;}
	.content .section-two .article .img{display: none;}
	.content .section-two .article .txt{width: 100%;padding-top: 30px;}
	.content .section-two .article .txt h2{font-size: 18px;}
	.content .section-three .wrapper{max-width: 94%;padding: 60px 0;}
    .content .section-three .card-group .card{width: 100%;padding:10px 20px;font-size:14px;}
    .content .section-three .card-group .card:nth-child(odd){background-color:rgba(23,15,57,0.8);}
	.content .section-three .card-group .card:nth-child(even){background-color:rgba(23,15,57,0.9);}
	.content .section-four div{width:100%;text-align: center;}
	.content .section-four div button{margin: 10px auto 0;}

	footer{padding:40px 0 10px;}
}